<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="prose">
    <h1>Welcome to the Company Website</h1>
    <ul>
        <li><a href="/employees">All Employees</a></li>
        <li><a href="/employees/add">Add an Employee</a></li>        
    </ul>
</body>
</html>